{% extends "base.html" %}

{% block title %}Dashboard de Mangás{% endblock %}

{% block content %}
    <h2>Estatísticas</h2>
    <div class="row stats">
        <!-- Card Total de Mangás -->
        <div class="col-md-6 stat-card">
            <div class="card text-white bg-primary mb-3">
                <div class="card-header">Total de Mangás</div>
                <div class="card-body">
                    <h5 class="card-title">{{ total_mangas }}</h5>
                </div>
            </div>
        </div>

        <!-- Card Total de Capítulos -->
        <div class="col-md-6 stat-card">
            <div class="card text-white bg-success mb-3">
                <div class="card-header">Total de Capítulos</div>
                <div class="card-body">
                    <h5 class="card-title">{{ total_capitulos }}</h5>
                </div>
            </div>
        </div>
    </div>

    <h2 class="mt-4">Lista de Mangás</h2>
    <div class="list-group">
        {% for manga in mangas %}
            <a href="{{ url_for('routes.edit', id=manga.id) }}" class="list-group-item list-group-item-action">{{ manga.nome }}</a>
        {% endfor %}
    </div>
{% endblock %}
