{% extends "base.html" %}

{% block title %}Dashboard de Mangás{% endblock %}

{% block content %}
    <h2>Estatísticas</h2>
    <div class="row stats">
        <div class="col-md-4 stat-card">
            <div class="card text-white bg-primary mb-3">
                <div class="card-header">Total de Mangás</div>
                <div class="card-body">
                    <h5 class="card-title">{{ total_mangas }}</h5>
                </div>
            </div>
        </div>
        <div class="col-md-8 stat-card">
            <div class="card">
                <div class="card-header">Categorias</div>
                <div class="card-body">
                    <ul class="list-group">
                        {% for categoria, count in categorias %}
                            <li class="list-group-item">{{ categoria }}: {{ count }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <h2 class="mt-4">Lista de Mangás</h2>
    <div class="list-group">
        {% for manga in mangas %}
            <a href="{{ url_for('routes.edit', id=manga.id) }}" class="list-group-item list-group-item-action">{{ manga.nome }}</a>
        {% endfor %}
    </div>
{% endblock %}
